$color-1: #aaadaf;
$color-2: #1425c5;
$color-3: #8146ff;
$color-4: #252237;
$color-5: #f3f5f9;
$color-6: #ced3e2;
$color-7: #858d96;
$color-8: #ffffff;

$uz-flag: "../../assets/images/uzflag.svg";
$ru-flag: "../../assets/images/ruflag.svg";

$statistics-color-1: #4b7bd8;
$statistics-color-3: #44ab7f;

$custom-color: #2475f0;

$products-color1: #fbfcfd;
$products-color2: #e4e6ef;

$pagination-color1: #7e8299;
$pagination-color2: #9fa7af;

$active-color: #27ae60;

$filter-color: #f5f6f7;

$icon-color: #2c2e3d;
