.wrapper {
  width: 100%;
  height: calc(100vh - 66px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;

  p {
    width: 217px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #aaadaf;
  }

  button {
    min-width: 115px;
    max-width: 150px;
    height: 42px;
    background: #1425c5;
    border: none;
    border-radius: 5.46px;
    outline: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #ffffff;
    transition: 0.3s ease;

    &:hover {
        background: #1426c5b4;
    }
  }
}
