@import "../../assets/Scss/variables.scss";

.dashboard {
  display: grid;
  row-gap: 24px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  border-radius: 10px;
  padding: 40px 24px;
  // border: 6px dotted rgb(8, 0, 255);
  // padding-bottom: 75px;

  &__column2 {
    display: grid;
    grid-template-columns: minmax(auto, 67%) minmax(auto, 33%);
    column-gap: 24px;
    // border: 4px dotted rgb(0, 255, 247);
  }
}
