@import "../../assets/Scss/variables.scss";

.search-result {
  max-height: 358px;
  overflow-y: auto;
  display: none;
  position: absolute;
  z-index: 1;
  top: calc(100% + 2px);
  left: 0;
  right: 0;
  background-color: $color-8;
  box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.24),
    0px 2px 11px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding-top: 8px;
  padding-bottom: 8px;

  &--show {
    display: block;
  }

  &--not-found {
    text-align: center;
    padding: 16px 24px;
  }

  &__item {
    &-link {
      padding: 6px 24px;
      display: flex;
      background-color: $color-8;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $color-5;
      }

      &-img {
        display: block;
        width: 36px;
        height: 36px;
        border: 1px solid $color-5;
        flex-shrink: 0;
        border-radius: 4px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: $color-8;
        margin-right: 12px;
      }

      &-content {
        display: flex;
        flex-direction: column;
        font-size: 12px;
        line-height: 17px;
        flex-grow: 1;
        justify-content: space-between;

        &-name {
          color: rgba(0, 0, 0, 0.87);
        }

        &-price {
          color: #858d96;

          &-value {
            margin-right: 10px;
          }

          &-currency {
            text-transform: uppercase;
          }
        }
      }
    }
  }
}
